body {
  margin: 0;
  padding: 0;
}

main {
  margin: 320px 0 0 0;
  /*
  border: solid 8px black;
  box-sizing: border-box;
  */
}

.main-terms {
  display: block;
  width: 95%;
  text-align: left;
  margin-left: 3%;
}

.main-list {
  display: block;
  width: 95%;
  text-align: left;
  margin-left: 3%;
}

