body {
  margin: 0;
  padding: 0;
}

main {
  margin: 320px 0 0 0;
  /*
  border: solid 8px black;
  box-sizing: border-box;
  */
}

.main-list {
  display: block;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}


.main-terms {
  display: block;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

p code {
  padding: 2px 3px 2px 3px;
  background-color: #e8e8e8;
  font-weight: normal;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 12px;
}
