/*
 css file for sidebar
 layouts/partial/sidebar.html
 */

.tile {
    display: block;
    position: relative;
  /*  width: 250px;*/
    width: auto;
    height: auto;
}

.topic_list {
    width: auto;
    height: 400px;
    overflow: scroll;
}
.sidebar__item {
  border: solid 8px red;
  box-sizing: border-box;
}
.sidebar__item--fixed {
  border: solid 8px red;
  box-sizing: border-box;

}

