{{ define "main" }}

<head>
  <style>
    .main-list {
      display: block;
      width: 100%;
    }
  </style>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/postcard.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/single.css">
</head>

<div class="main-list">
  {{ partial "breadcrumb.html" . }} 

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range ($paginator.Pages.GroupByDate "2006") }}
    <div class="single-title">{{ .Key }}</div>
    {{ range .Pages }}
    {{ partial "postcard" (dict "context" . "card_type" "simple" ) }}
    {{ end }}
  {{ end }}

</div>
{{ partial "pagination" . }}

{{end}}
