{{ define "main" }}

<head>
  <style>
    .section_page {
      display: block;
      grid-area: areaA;
      width: 100%;
      text-align: left;
      margin-left: 20px;
    }

    .section_page h1 {
      margin-left: 60px;
    }

    .section_page section div article img {
      float: left;
      margin: 0 15px 15px 0;
      width: 30%;
    }
  </style>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/single.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/postcard.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/list.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
</head>

    {{/*{{ $pgttl := lower .Title }}
<body>
  <div class="section_page">


    <section id="main">
    {{ range .Site.Menus.main.ByWeight }}
      {{ if eq .Identifier $pgttl }}
	<!--<h1 id="title">{{ .Name }}</h1>-->
	  {{ end }}
    {{ partial "breadcrumb.html" . }}
    <div class="single-title">{{ .Title }}</div>
      <div>
	<article id="content">
           {{ .Content }}
	</article>
      </div>
    </section>
  </div>
</body>
	{{ end }}*/}}

<div class="main-list">
  {{ partial "breadcrumb.html" . }} 
  <section id="main">
    <div class="single-title"> {{ .Title }} </div>

    {{ $paginator := .Paginate .RegularPages }}
    {{ range ($paginator.Pages.GroupByDate "2006") }}
    <div class="year"><h1> {{ .Key }} </h1></div>
      {{ range .Pages }}
      {{ partial "postcard" (dict "context" . "card_type" "normal" ) }}
      {{ end }}
    {{ end }}
  </section>
  {{ partial "pagination" . }}
</div>


{{end}}
