.accordion {
    width: 300px;
}

.nest {
    display: none;
}

.button {
    padding: 10px;
    width: 100%;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.button.button_1 {
    background-color: #f5f4f2;
    color: #1abc9c;
}

.button:after {
    content: "\025bd";
    position: absolute;
    top: 11px;
    right: 13px;
}

.button.active:after {
    content: "\025b3";
}
