/* For the accordion itself */

.accordion {
    display: block;
    margin: 10px auto 0 auto;
    padding-right: 20px;
    max-width: 700px;
}

.nest {
    display: none;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}

.button {
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #1700ad;
    cursor: pointer;
    position: relative;
    font-size: 24px;
    text-align: left;
    border: solid #000;
    margin-bottom: 5px;

}

.button.button_1 {
    background-color: #f5f4f2;
    color: #1abc9c;
}

.button:after {
    content: "\025bd";
    position: absolute;
    right: 20px;
}

.button.active:after {
    content: "\025b3";
}

.pseudo_button {
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #1700ad;
    cursor: pointer;
    position: relative;
    font-size: 24px;
    text-align: left;
    border: solid #000;
    margin-bottom: 5px;

}

/* for the lab section */

.labtile {
    position: relative;
    float: left;
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.labtile img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 50px;
    background: #f7f7f7;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.29);
}

.labtile div.caption {
    position: absolute;
    width: 100%;
    height: 33%;
    top: 125px;
    left: 0px;
    color: #000;
    background: #fff;
    font-size: 20px;
    text-align: center;
}

/* for the event/info section */

.eventbox {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.29);
    width: 80%;
    height: 200px;
    color: #1700ad;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.eventbox::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
}

.eventbox div.eventdate {
    position: relative;
    background-color: #000080;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    border: solid #008080;
    width: 100px;
    height: auto;
    color: #fff;
}

/* the default tag button */

.eventbox div a.tagbutton {
    position: absolute;
    width: auto;
    height: 10px;
    top: 5%;
    left: calc(100% + 10px); 
    line-height: 10px;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
    color: #1700ad;
    transition: .4s;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
}

.eventbox div a.tagbutton:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


/* custom tag button for Seminar */
.eventbox div a.tagbutton[class*="Seminar"] {
    position: absolute;
    width: auto;
    height: 10px;
    top: 5%;
    left: calc(100% + 10px); 
    line-height: 10px;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
    color: #1700ad;
    background-image: linear-gradient(45deg, #7AFB00 0%, #1bc702 100%);
}
.eventbox div a.tagbutton[class*="Seminar"]:hover{
    background-image: linear-gradient(45deg, #7AFB00 0%, #16b100 100%);
}


/* custom tag button for Conference */
.eventbox div a.tagbutton[class*="Conference"] {
    position: absolute;
    width: auto;
    height: 10px;
    top: 5%;
    left: calc(100% + 10px); 
    line-height: 10px;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
    color: #1700ad;
    background-image: linear-gradient(45deg, #00BFFB 0%, #00d4ff 100%);
}
.eventbox div a.tagbutton[class*="Conference"]:hover{
    background-image: linear-gradient(45deg, #00BFFB 0%, #00caff 100%);
}



.eventbox .read-more{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding: 0.25em 0.25em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
}

.eventbox .read-more:hover{
    background: #636363;
}
