/*
 css file for sidebar
 layouts/partial/sidebar.html
 */
.topic {

  height: 200px;
  width: 97%;

  /* background-image setting */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  /* border */
  border: solid 1px #ddd;
  border-radius: 4px;
  box-sizing: border-box;

  /* box shadow */
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 7px 7px 7px 7px;
  opacity: 0.9;

}

.topic:hover {
    filter:alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity:0.5;
    zoom:1.01;
    cursor: pointer;
}

.topic a {
  display: block;
  font-family: serif;
}

.topic img {
  width: 100%;
  height: 100%;
}

.topic h1 {
  font-size: 10px;
  font-family: 'Times New Roman';
  justify-content: center;
  text-align: center;

}

.topic h2 {
  font-size: 22px;
  color: #368;
  -webkit-align-items: center;
  align-items: center; 
  -webkit-justify-content: center; 
  justify-content: center; 
  text-align: center;

}

.topic-mask {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.6);
}


.tile {
    display: block;
    position: relative;
  /*  width: 250px;*/
    width: auto;
    height: auto;
}

.topic_list {
    width: 100%;
    height: 100%;
    overflow: scroll;
    /*
    border: solid 8px hotpink;
    box-sizing: border-box;
    */
}

.topic_list-narrow {
    align: center;
    margin: auto;
    width: 80vw;
    height: 100%;
    /*
    border: solid 4px orange;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    */

}

.slick-prev:before {
  color: #348;
}
.slick-next:before {
  color: #348;
}
