.single_page {
  display: block;
  grid-area: areaA;
  width: 95%;
  text-align: left;
  margin-left: 3%;

  /*border: solid 5px green;
    */
}
.single_page h1 {
    vertical-align: middle;
}

.single_page section div article img {
  float: left;
  margin: 0 15px 15px 0;
  width: 30%;
}

.main{
}
.single-box{
    vertical-align: middle;
}
.single-title{
    margin-bottom: 9px;
    padding-left: 15px;
    width: 96%;
    height: 50px;
    line-height:50px;
    
    font-size: 150%;
    font-weight:normal;        
    color: #1700ad;

    position: relative;
    text-align: left;

    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.content{
}
