.container {
  /* main + topics + link */
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(300px, auto);
  grid-template-areas:
    "areaA areaB"
    "areaA areaC";
}

.container-narrow{
  /* main + topics + link */
  display: grid;
  width: 100%;
  grid-template-rows: 200px auto 150px;
  grid-template-areas:
    "areaB"
    "areaA"
    "areaC";
}

.top_menu {
  display: block;
  grid-area: areaA;
 /* width: 660px; */
  width: 100%;
  text-align: center;
  border: solid 4px red;
  box-sizing: border-box;
}

.sidebar {
  position: sticky;
  grid-area: areaB;
  top: 0;
  margin-top: 0px;
  border: solid 4px orange;
  box-sizing: border-box;
}

.links {
  grid-area: areaC;
  border: solid 4px indigo;
  top: 0;
  bottom: 0;
}

