.container {
  /* main + topics + link */
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
}
.top_menu {
  display: block;
 /* width: 660px; */
  width: 100%;
  text-align: center;
}
/*
.sidebar {
  width: 320px;
}
*/

.sidebar {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  width: 320px;
  height: 600px;
  right: 15px;
  color: #000;
}
/*
.sidebar__item {
  border: solid 8px red;
  box-sizing: border-box;
}
.sidebar__item--fixed {
  border: solid 8px red;
  box-sizing: border-box;

}
.links {
  border: solid 8px red;
  box-sizing: border-box;

}
*/
