</main> 
<style type="text/css">
  .footer_all{
      /* display: grid; */
      /* grid-template-rows: 100px 500px; */
      position: -webkit-sticky; 
      position: sticky; 
      color: #0404B4;
      background-color: #9FF781;
      grid-template-rows: 30px 200px;
      grid-template-columns: calc( (100% - 1em) / 2) calc( (100% -1em_) / 2);      
  }

  .item_title {
      display: grid;
      font-size: x-large;
      grid-template-columns: calc( (100% - 1em) / 2) calc( (100% -1em_) / 2);
  }      
  .item_content {
      display: grid;
      grid-template-columns: calc( (100% - 1em) / 2) calc( (100% -1em_) / 2);
  }
  .item_address {
      display: grid;
      grid-template-columns:
      {{ range .Site.Params.address }}
      calc( (100% - 1em) / {{ len $.Site.Params.address }} )
      {{ end }};
  }
  /* .item_sitemap { */
  /*     display: inline-flex; */
  /*     flex-direction: row; */
  /*     flex-wrap: wrap; */
  /*     justify-content: space-around; */
  /*     align-content: flex-start; */
  /*     align-self: stretch; */
  /* } */

</style>
<footer>
  <div class="footer_all">
    <div class="item_title">
      <div>
      {{ .Site.Params.sitemap}}
      </div>
      <div>
      {{ .Site.Params.location }}
      </div>
    </div>
    <div class="item_content">
        <div>
	<!-- 	<div class="item_sitemap"> -->

	  <ul>
	    {{ range .Site.Menus.main.ByWeight }}
	    <!-- <div> -->
	      <li> <a href="{{ .URL }}"> {{ .Name }} </a> </li>
	      <!-- <ul> -->
		<!-- 	{{ range .Children }} -->
		<!-- 	<li> <a href="{{ .URL }}"> {{ .Name }} </a> </li> -->
		<!-- 	{{ end }} -->
		<!-- </ul> -->
	      <!-- </div> -->
	    {{ end }}
	  </ul>
	</div>
      <!-- </div> -->
      <div>
	<div class="item_address">
	  {{ range .Site.Params.address }}
	  <div>
	    <b> {{ .description }} </b><br>
	    &#12306; {{ .postcode }} <br>
	    {{ .address }} <br>
	    {{ .room }} <br>
	    TEL: {{ .tel }} <br>
	    FAX: {{ .fax }} <br>
	  </div>
	  {{ end }}
	</div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
