<!--This page: Side bar of container -->

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sidebar.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/split_container.css">

<div class="sidebar">
  
  <div class="topic_list">
  {{ range $.Site.RegularPages }}
    {{ if (.Param "mkbanner") }}
      {{ if (.Param "image") }} 
      <div class="topic">
      <a href="{{ .RelPermalink }}"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" ></a>
      </div>
      {{ else }}
      <!-- {{/*	<div class="tile"> -->
        <!--   <a href="{{ .RelPermalink }}">{{.Title}}</a> -->
        <!-- </div> -->
      <!-- */}} -->
      {{ end }}
    {{ end }}
  {{ end }}

 <!-- <h3>recent topics</h3> -->
  {{ range $catkey, $catlist := $.Site.Taxonomies.categories }}
    {{ if eq $catkey "topic" }}
      {{ range .Pages.ByDate }}
        <div class="topic">
        <a> {{dateFormat "2 Jan, 2006" .Params.Date }}  </a>
        <a href="{{ .RelPermalink }}"> {{ .Title }} </a>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
  </div> <!-- topic_list -->

</div> <!-- sidebar -->


<div class="links">
  <a href="https://www.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/utokyo.jpg" width=180px height=auto></a>
  <a href="https://www.s.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/sos_utokyo.jpg" width=230px height=auto></a>
  <a href="{{ .Site.BaseURL }}/link"><h3>{{ .Site.Params.link }}</h3></a>

</div> <!-- links -->
