<!--This page: Side bar of container -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sideba.css">

<div class="sidebar">

<!-- Topics (future :from Event pages)-->
  <div class="topics">
  {{/* <h3>セクションを持たない記事ページ一覧（タイトル順）</h3>
      <ol>
        {{ range (where $.Site.RegularPages "Section" "").ByTitle }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <a href="www.google.com">GOOGLE</a>
        {{ end }}
      </ol>
  */}}
<article>
  <h3>Featureされたサイト内ページだけの配列</h3>
  <ol>
    {{ range .Pages }}
      {{ if (.Param "mkbanner") }}
        {{ if .Title }}
           <li><a href="{{ .RelPermalink }}">Page {{ .Title }} </a>
        {{ else }}
           <li><a href="{{ .RelPermalink }}">Page is not titled</a>
        {{ end }}

      {{/* part of mkbanner false
      {{ else }}
        {{ if .Title }}
          <li> Page <a href="{{ .RelPermalink }}">{{ .Title }}</a> is not bannered
        {{ else }}
          <li> Page is not titled
        {{ end }}
       */}}
      {{ end }}
    {{ end }}
  </ol> 
 </div>

<!-- Link -->
  <div class="links">
    <a href="https://www.u-tokyo.ac.jp/"><img class="links" src="img/utokyo.jpg" width=180px height=auto></a>
    <a href="https://www.s.u-tokyo.ac.jp/"><img class="links" src="img/sos_utokyo.jpg" width=230px height=auto></a>
    <a href=""><h3>関連リンク</h3></a>
  </div>
</div>
