<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ .Site.Title }} </title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/header.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  <script src="{{ .Site.BaseURL }}js/jquery-3.4.1.min.js"></script>
</head>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/top_figure.js"></script>
<div class="top_figure">
  {{ range .Site.Params.top_figures }}
  <img src="{{ $.Site.BaseURL }}{{ . }}">
  {{ end }}
</div>

<body>
<header>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/header.js"></script>
  <div class="black-belt">
    <div class="cns_logo">
      <a href="{{ .Site.BaseURL }}"><img src="{{ $.Site.BaseURL }}{{ .Site.Params.logo }}" /></a>
    </div>
    <div class="title">
      <p> {{ .Site.Title }} </p>
      <p class="sub">{{ .Site.Params.subtitle }}</p>
    </div>
    <div class="menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="humberger-menu">
      <ul>
        {{ range .Site.Menus.main.ByWeight }}
	<a href="{{ .URL | relLangURL }}" title="{{ .Name }}">
	  <li>{{ .Name }}</li>
	</a>
        {{ end }}
        {{ range .Site.Params.exlink }}
	  <li class="u-tokyo_logos">
            <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .pass }}"></a>
	  </li>
        {{ end }}
      </ul>
    </nav>
    <nav class="header-menu">
      <ul>
	{{ range .Site.Menus.header.ByWeight }}
      <li>
	    <a href="{{ .URL | relLangURL }}" title="{{ .Name }}"> {{ .Name }} </a>
	    </li>
	{{ end }}
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <li>
              <a href="{{ .Permalink }}">{{ .Site.Params.language_name }}</a>
            </li>
          {{ end }}
        {{ end }}
        {{ range .Site.Params.exlink }}
	  <li class="u-tokyo_logos">
            <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .pass }}"></a>
	  </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <div class="color-belt"></div>	  
  <div class="background"></div>

  <!--  links to UT, S
    <a href="https://www.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/utokyo.jpg" width=180px height=auto></a>
    <a href="https://www.s.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/sos_utokyo.jpg" width=230px height=auto></a>
  -->
</header>

<main>
