<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <title> {{ .Title }} </title>
</head>
<body>
<header class="black-belt">
  <link rel="stylesheet" href="css/header.css">
  <script src="{{ .Site.BaseURL }}js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/header.js"></script>
  <h2> {{ .Title }} </h2>
    <div class="menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="humberger-menu">
      <ul>
        {{ range .Site.Menus.Main }}
        <li>
          <a href="{{ .URL }}" title="{{ .Name }}">
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
</header>
 
<main>
