<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main_menu.css">
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/main_menu.js"></script>
</head>

<body>

{{/*
  <h2>ようこそ</h2>
  <p>原子核科学研究センター (<strong>C</strong>enter for <strong>N</strong>uclear <strong>S</strong>tudy) のホームページです。</p>
*/}}

  {{ if .Site.Menus.main }}
    <ul class="accordion">
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
          <button class="button">{{ .Name }}</button>
          <div class="nest">
          <p>These are the children of {{ .Identifier }}.</p>
            <ul class="accordion_1">
              {{ range .Children }}
                <li><a href="{{ .URL | relLangURL }}">{{ .Name }} </a></li>
              {{ end }}
            </ul>
          </div>
        </li>
        {{ else }}
          <button class="button" href="{{ .URL }}">{{- .Name -}}</button>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}



</body>


