<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main_menu.css">
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/main_menu.js"></script>
</head>

<body>

  {{ if .Site.Menus.main }}
    <ul class="accordion right-side">
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
          <button class="button">{{ .Name }}</button>
          <div class="nest">
            <!-- Special action: "lab" -->
            {{ if eq .Identifier "lab" }}
              <div>
                {{ range .Children }}
                  {{ $nm := .Name }}
                  {{ $w := .Weight }}
                  {{ $pt := .URL | relLangURL }}
                  <!-- Fetch image path -->
                  {{ range $.Site.RegularPages }}
                    {{ if (.Param "mktile") }}
                      {{ if eq .Weight $w }}
                          <a href="{{ .Permalink }}" class="tile"><img src="{{ .Page.Param "image" }}" alt={{ $nm }} title={{ $nm }}><div class="caption">{{ $nm }}</div></a>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              </div>

            <!-- END Special action: "lab" -->

            <!-- Default action -->
            {{ else }}
              <!-- Fetch description -->
              {{ $pmenu := .Identifier }}
              {{ range $.Site.RegularPages }}
                {{ if eq (lower .Title) $pmenu }}
                  <p>{{ .Content }}</p>
                {{ end }}
              {{ end }}
              <ul class="accordion_1">
                {{ range .Children }}
                  <li><a href="{{ .URL | relLangURL }}">{{ .Name }} </a></li>
                {{ end }}
              </ul>
              <!-- END Default action -->
            {{ end }}
          </div>
        {{ else }}

          <!-- Special action: "event" -->
          {{ if eq .URL "/events" }}
            <button class="button">{{ .Name }}</button>
            <div class="nest">
              <h3>今後のイベント</h3>
              {{ range $catkey, $catlist := $.Site.Taxonomies.categories }}
                {{ if eq $catkey "event" }}
                  {{ range (.Pages.ByParam "eventdate").Reverse }}
                    {{ if le now .Params.eventdate }}
                      <li><a href="{{ .Permalink }}">{{ .Page.Title }}</a> ({{ dateFormat "Monday, Jan 2, 2006" .Params.eventdate }}, TAG: {{ .Params.tags }})</li>
                    {{ end }}
                  {{ end }}
                  <h3><a href="{{ .Page.Permalink }}">イベント情報一覧はこちら</a></h3>
                {{ end }}
              {{ end }}
            </div>
          <!-- END Special action: "events" -->

          {{ else }}
            <a href="{{ .URL }}"><button class="pseudo_button">{{- .Name -}}</button></a>
          {{ end }}

        {{ end }}
      {{ end }}
    </ul>
  {{ end }}



</body>


