<!--This page: Side bar of container -->

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sidebar.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/split_container.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/swiper.min.css">

<div class="sidebar">
  
  <div class="topic_list">

  <script>
    function link(url) {
 location.href = url;
}
  </script>

  {{ range $.Site.RegularPages }}
    {{ if (.Param "mkbanner") }}
      {{ if (.Param "image") }} 
      <div class="topic" style="background: url({{ .Site.BaseURL }}{{ .Params.image }});" onKeyPress="return true" onClick="link('{{ .Site.BaseURL }}{{ .RelPermalink }}')">
      </div>
      {{ else }}
      <!-- {{/*	<div class="tile"> -->
        <!--   <a href="{{ .RelPermalink }}">{{.Title}}</a> -->
        <!-- </div> -->
      <!-- */}} -->
      {{ end }}
    {{ end }}
  {{ end }}

 <!-- <h3>recent topics</h3> -->
  {{ range $catkey, $catlist := $.Site.Taxonomies.categories }}
    {{ if eq $catkey "topic" }}
      {{ range .Pages.ByDate }}
        <div class="topic" onKeyPress="return true" onClick="link('{{ .Site.BaseURL }}{{ .RelPermalink }}')">
        <h1> Recent Topic {{dateFormat "2 Jan, 2006" .Params.Date }}  </h1>
        <h2> {{ .Title }} </h2>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

    <!-- Add Arrows
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
     -->

  </div> <!-- topic_list -->
  <script src ="{{ .Site.BaseURL }}js/swiper.min.js"></script>

</div> <!-- sidebar -->


<div class="links">
  <a href="https://www.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/utokyo.jpg" width=180px height=auto></a>
  <a href="https://www.s.u-tokyo.ac.jp/"><img src="{{ $.Site.BaseURL }}img/sos_utokyo.jpg" width=230px height=auto></a>
  <a href="{{ .Site.BaseURL }}/link"><h3>{{ .Site.Params.link }}</h3></a>

</div> <!-- links -->
