{{ partial "header.html" . }}

<head>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/split_container.css">
<!--  <link rel="stylesheet" href="css/body.css"> -->
</head>

<div class="container">

  <div class="top_menu">


  <script type="text/javascript">
  $(window).on('load resize', function(){
    var browserWidth = $(window).width();
    console.log(browserWidth);
  });
  </script>

    {{ partial "main_menu.html" . }}

  </div><!--top menu-->


  {{ partial "sidebar.html" .}}

</div> <!--container-->

{{ partial "footer.html" . }}


