{{ partial "header.html" . }}

<head>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/body.css">
</head>

  <div class="container">

    <div class="main">ここがmain部分

      <article>
        <ul>
        <li><a href="#"><span>2016/02/10</span>記事タイトル10</a></li>
        <li><a href="#"><span>2016/02/09</span>記事タイトル9</a></li>
        <li><a href="#"><span>2016/02/08</span>記事タイトル8</a></li>
        <li><a href="#"><span>2016/02/07</span>記事タイトル7</a></li>
        <li><a href="#"><span>2016/02/06</span>記事タイトル6</a></li>
        <li><a href="#"><span>2016/02/05</span>記事タイトル5</a></li>
        <li><a href="#"><span>2016/02/04</span>記事タイトル4</a></li>
        <li><a href="#"><span>2016/02/03</span>記事タイトル3</a></li>
        <li><a href="#"><span>2016/02/02</span>記事タイトル2</a></li>
        <li><a href="#"><span>2016/02/01</span>記事タイトル1</a></li>
         <li><a href="#"><span>2016/02/10</span>記事タイトル10</a></li>
        <li><a href="#"><span>2016/02/09</span>記事タイトル9</a></li>
        <li><a href="#"><span>2016/02/08</span>記事タイトル8</a></li>
        <li><a href="#"><span>2016/02/07</span>記事タイトル7</a></li>
        <li><a href="#"><span>2016/02/06</span>記事タイトル6</a></li>
        <li><a href="#"><span>2016/02/05</span>記事タイトル5</a></li>
        <li><a href="#"><span>2016/02/04</span>記事タイトル4</a></li>
        <li><a href="#"><span>2016/02/03</span>記事タイトル3</a></li>
        <li><a href="#"><span>2016/02/02</span>記事タイトル2</a></li>
        <li><a href="#"><span>2016/02/01</span>記事タイトル1</a></li>
          <li><a href="#"><span>2016/02/10</span>記事タイトル10</a></li>
        <li><a href="#"><span>2016/02/09</span>記事タイトル9</a></li>
        <li><a href="#"><span>2016/02/08</span>記事タイトル8</a></li>
        <li><a href="#"><span>2016/02/07</span>記事タイトル7</a></li>
        <li><a href="#"><span>2016/02/06</span>記事タイトル6</a></li>
        <li><a href="#"><span>2016/02/05</span>記事タイトル5</a></li>
        <li><a href="#"><span>2016/02/04</span>記事タイトル4</a></li>
        <li><a href="#"><span>2016/02/03</span>記事タイトル3</a></li>
        <li><a href="#"><span>2016/02/02</span>記事タイトル2</a></li>
        <li><a href="#"><span>2016/02/01</span>記事タイトル1</a></li>
       </ul>
      </article>
      <nav>
        <a href="#">前へ</a>
        <a href="#">次へ</a>
      </nav>

    </div>



    <div class="sidebar">
      <div class="sidebar__item">
        This is the sidebar__item
      </div>
      <div class="sidebar__item sidebar__item--fixed">
        This is the sidebar__item--fixed

{{/*        <h3>セクションを持たない記事ページ一覧（タイトル順）</h3>
        <ol>
          {{ range (where $.Site.RegularPages "Section" "").ByTitle }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <a href="www.google.com">GOOGLE</a>
          {{ end }}
        </ol>
*/}}
{{/*          <h3>とりあえずサイト内全ページの配列</h3>
          <ol>
            {{ range .Pages }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
              <a href="www.google.com">Google</a>
            {{ end }}
          </ol>
 */}}

        <h3>Featureされたサイト内ページだけの配列</h3>
          <ol>
            {{ range .Pages }}
              {{ if (.Param "mkbanner") }}
                <li><a href="{{ .RelPermalink }}">Page {{ .Title }} is bannered</a>
{{/*                <a href="www.google.com">Google</a> */}}
              {{ else }}
                {{ if .Title }}
                  <li> Page <a href="{{ .RelPermalink }}">{{ .Title }}</a> is not bannered
                {{ else }}
                  <li> Page is not titled
                {{ end }}
              {{ end }}
            {{ end }}
          </ol>

      </div>
    </div>

  </div>


{{ partial "footer.html" . }}

{{/*
       <a href="{{ with .Site.GetPage "/post/test5.md" }}{{ .Title }}{{ end }}">Here is a sample page that I made.</a>
       {{ with .Site.GetPage "/post/test5.md" }}{{ .Title }}{{ end }}
       {{< ref "/post/test5.md" >}}
*/}}
