{{- $title := .Get "title" -}}
{{- if not $title -}}
  {{ errorf "missing value for param 'title': ％s" .Position }}
{{- end -}}
{{- $number:= .Get "number" -}}
{{- if not $number -}}
  {{ errorf "missing value for param 'number': ％s" .Position }}
{{- end -}}
<!-- For past posts -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/postcard.css">
<div class="posts-title">{{ $title }}</div>
{{ range first $number (where .Site.RegularPages "Section" "post").ByDate.Reverse }}
  {{ partial "postcard" (dict "context" . "card_type" "normal" ) }}
{{ end }}
<br>
<br>
