<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> <link rel="stylesheet" href="{{ .Site.BaseURL  }}css/main_menu.css">
	    <link rel="stylesheet" href="{{ .Site.BaseURL  }}css/postcard.css">
	      <script type="text/javascript" src="{{ .Site.BaseURL  }}js/main_menu.js"></script>
</head>



<!-- List of all the content pages inside /post -->

{{ $temp := .Page.File }}

{{ range where $.Site.Pages "Section" "post"  }}
  {{ if (not (eq .Name "" )) }}
    {{ if (not (eq .File $temp)) }}
    {{ partial "postcard" (dict "context" . "card_type" "simple" ) }} 
    {{ end  }}    
  {{ end  }}    
{{ end  }}    
