<!-- For future posts -->
<h3>Upcoming</h3>
{{ range ($.Page.CurrentSection.Pages.ByParam "endEventDate") }}
  {{ $FormattedNow := (now.AddDate 0 0 -1) }}
  {{ if le $FormattedNow .Params.eventEndDate }}
    <div class="postcard">
      {{ if ne (.Params.eventStartDate) (.Params.eventEndDate) }}
        <div class="eventdate">
	  {{ dateFormat "2 Jan, 2006" .Params.eventStartDate }}-{{ dateFormat "2 Jan, 2006" .Params.eventEndDate }}
          {{ $numtags := len .Params.tags }}
	  {{ if gt $numtags 0 }}
	    {{ range .Params.tags }}
      <a href="{{ $.Site.BaseURL | absLangURL }}/tags/{{ lower . }}" class="tagbutton {{ . }}">{{ . }}</a>
	    {{ end }}
	  {{ end }}
	</div>
      {{ else }}
        <div class="eventdate">
	  {{ dateFormat "2 Jan, 2006" .Params.eventEndDate }}
          {{ $numtags := len .Params.tags }}
          {{ if gt $numtags 0 }}
	    {{ range .Params.tags }}
	      <a href="{{ $.Site.BaseURL | relLangURL }}/tags/{{ lower . }}/" class="tagbutton {{ . }}">{{ . }}</a>
            {{ end }}
	  {{ end }}
	</div>
      {{ end }}
      <h2 class="post-title">{{ .Title }}</h2>
      <p>{{ .Content }}</p>
      <p><a href="{{ .Permalink }}" class="read-more">Read more</a></p>
    </div>
  {{ end }}
<!-- Add alternate content to show when there is no upcoming event -->
{{ end }}


<!-- For past posts -->
{{ $numlist := 3 }} <!-- number of posts to display -->
<hr>
<h3>{{ $numlist }} Newest Posts</h3>
{{ range first $numlist (where $.Page.CurrentSection.Pages "Section" "post") }}
  <div class="postcard">
    <div class="eventdate">
      {{ dateFormat "2 Jan, 2006" .Date }}
      {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL | relLangURL }}/tags/{{ lower . }}/" class="tagbutton {{ . }}">{{ . }}</a>
      {{ end }}
    </div>
    <h2 class="post-title">{{ .Title }}</h2>
    <p>{{ .Content }}</p>
    <p><a href="{{ .Permalink }}" class="read-more">Read more</a></p>
  </div>
{{ end }}


